.pokemon-main-wrapper{
    height: 100%;
    padding: 0 0 5rem;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  
    background-color: #4d4dff;
}